/* width */
.modal::-webkit-scrollbar {
  width: 8px;
  border-radius: 0.5em;
}

/* Track */
.modal::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5em;
}

/* Handle */
.modal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5em;
}

/* Handle on hover */
.modal::-webkit-scrollbar-thumb:hover {
  background: #555;
}
