/* El item seleccionado del accordion tiene otro color */
#modulos-accordion > div span {
  transition: color 200ms;
}

#modulos-accordion > div[data-open='true'] span {
  color: blueviolet;
  transition: color 200ms;
}

/* Agrega linea morada a la izquierda de la lista de lecciones */
#modulos-accordion > div ul {
  position: relative;
  padding-left: 0.5em;
}

#modulos-accordion > div ul::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: white;
  opacity: 0;
  left: 0;
  transition: opacity 200ms;
}

/* Cuando el acordion esta abierto mostrar la linea subiendo la opacidad */
#modulos-accordion > div[data-open='true'] ul::before {
  opacity: 1;
  transition: opacity 200ms;
}
