@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --navbar-height: 79px;
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, #34395c 0%, #181941 50%, #1b1b1f 100%);
  min-height: 100vh;
}

html {
  background: #181941;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.rounded-switch {
  border-radius: 999px; /* Aplica un radio de borde de 999px al switch */
}

@layer base {
  :root {
    --radius: 0.5rem;
    --chart-1: 265 59% 89%;
    --chart-2: 287 58% 47%;
  }
}

/* Modificar estilos del editor de quilljs (Formulario creacion de curso)*/
.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow {
  border-top: none !important;
  border-inline: none !important;
}
