@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, #34395c 0%, #181941 50%, #1b1b1f 100%);
  min-height: 100vh;
}

html {
  background: #181941;
}
